.todoItem {
    width: 40%;

    background-color: #FFF9DE;
    border-radius: 15px;
    padding: 20px;

    font-family: 'AdobeBold';
}

.todoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    font-size: 20px;
}

p {
    margin: 15px 0;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.5px;
}

.controlPanel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.controlButtonWrap {
    position: relative;   
}

.controlButton {
    display: inline-block;
    padding: 20px 15px 5px 15px;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
    /* vertical-align: middle; */
}

.controlButton::after {
    content: '\2809';
    font-size: 30px;
    line-height: 20px;
    
}

.controlButtonContent {
    position: absolute;
    top: 30px;
    left: -110px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 1px #f2f6f9;
    color: #69666C;
}

.controlButtonItem {
    border: none;
    background: none;
    cursor: pointer;
    padding: 12px 100px 12px 15px;
    color: #69666C;
    font-family: 'Adobe';
    font-weight: bold;
}

.controlButtonItem:first-child {
    border-bottom: 1px solid #f2f6f9
}

.controlButtonItem:first-child:after {
    content: '...';
}

.todoCategories {
    display: flex;
}


@keyframes doneTask {
    0%     { transform-origin:  0% 50%; transform:scaleX(0);  }
    100%    { transform-origin:  0% 50%; transform:scaleX(1);  }
}

.done h2 {
    position: relative;
}

.done h2::after {
    content: ' ';
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 100%;
    background-color: #69666C;
    height: 2px;
    animation: doneTask .75s ease-in-out forwards;
}

.done .todoDescription {
    text-decoration: line-through;
}

.hide {
    display: none;
}