.todoList {
    border: 2px solid pink;

    /* display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    grid-template-rows: masonry;
    align-tracks: end, start, end, space-between; */

    display: flex;
    align-items: flex-start;
    


}

.todoList > div {
    
    /* max-width: 45%; */
    border: 2px solid red;
    /* display: grid;

    grid-template-rows: auto; */
    
    /* break-inside: avoid; */
    /* display: grid;
    grid-template-rows: 1fr auto; */
}

.todoList > div:nth-child(2) {
    border: 2px solid green;
    
}