.colorButton {
    display: inline-block;
    width: 100%;
    
    border: none;
    background: none;
    padding: 8px 15px;
    text-align: right;

    display: flex;
    align-items: center;

    font-family: 'Adobe';
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

    /* border: 2px solid green; */
}

.colorButton:hover {
    /* transform: scale(1.1); */
    transition: 0.5s;

    background-color: #ebe9e4;
}

.colorButton:active {
    border: 2px solid red;
}

.category {
    display: inline-block;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.work {
    background-color: #D2CEFF;
}

.study {
    background-color: #D1E5F7;
}

.entertainment {
    background-color: #FFCECE;
}

.family {
    background-color: #DAF2D6;
}

.categoryActive {
    background-color: lightgray;

    border: 5px solid orange;
    transform: scale(1.3);
}

