.categoryList {
    margin-bottom: 40px;
}

 .categoryList li {
    /* padding: 5px 10px 5px 0;  */
    cursor: pointer;
    /* border: 2px solid red; */
} 

.categoryList li span {
    cursor: pointer;
}