.app {
  font-family: "Adobe";
  color: #69666c;
  padding: 4rem;
}

ul {
  list-style: none;
}

.main {
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background-color: none;
}
